DATABASE_URL="postgresql://postgres:password@localhost:5432/arrasyidin_attendance?schema=public"
ADMIN_EMAIL="admin@example.com"
ADMIN_PASSWORD="change_me"
APP_URL="https://your-vercel-domain.vercel.app"

# Fonnte WhatsApp API
FONNTE_TOKEN=""
FONNTE_API_URL="https://api.fonnte.com/send"
# FONNTE_ENABLED="false"
